#footer
  %p © 2012 | Tricklr | <a href="http://pebblecode.com/"> a pebble {code} </a>| product Follow us at <a href="http://twitter.com/tricklr"> @tricklr </a> // <a href="http://twitter.com/pebblecode"> @pebblecode </a>
  %ul
    %li.menu-items
      = link_to "f", "http://www.facebook.com/tricklr", :class => "button facebook"
      = link_to "t", "http://www.facebook.com/tricklr", :class => "button tweet"
      = link_to "g", "http://www.facebook.com/tricklr", :class => "button google"