#footer
  %p &copy; 2012 | Tricklr | <a href="http://pebblecode.com/"> a pebble {code} </a> product | Follow us at <a href="http://twitter.com/tricklr"> @tricklr </a> / <a href="http://twitter.com/pebblecode"> @pebblecode </a>
  %ul.menu-items
    %li 
      = link_to "ADD TO CHROME", "https://chrome.google.com/webstore/detail/ndnpmmchdobfbjjkfeioeknbdimgninn", :class => "button add-chrome", :target => "blank"
    %li 
      = link_to "f", "http://www.facebook.com/tricklr", :target => "blank", :class => "button"
    %li 
      = link_to "t", "http://twitter.com/tricklr", :target => "blank",  :class => "button tweet"
    -#
      %li 
        = link_to "g", "https://plusone.google.com/_/+1/confirm?hl=en&url=http://tricklrapp.com/", :target => "blank",  :class => "button "
