#footer
  %p © 2012 | Tricklr | <a href="http://pebblecode.com/"> a pebble {code} </a>| product Follow us at <a href="http://twitter.com/tricklr"> @tricklr </a> // <a href="http://twitter.com/pebblecode"> @pebblecode </a>
  %ul
    %li.menu-items
      = link_to "f", "http://www.facebook.com/tricklr", :target => "blank", :class => "button facebook"
      = link_to "t", "http://clicktotweet.com/13tRd", :target => "blank",  :class => "button tweet"
      = link_to "g", "https://plusone.google.com/_/+1/confirm?hl=en&url=http://tricklrapp.com/", :target => "blank",  :class => "button google"