#footer
  .copyright 
    &copy; 2012 | Tricklr | a <a href="http://pebblecode.com">pebble {code}</a> product | 
    Follow us at <a href="http://twitter.com/tricklr">@tricklr</a> // <a href="http://twitter.com/pebblecode">@pebblecode</a>
