
%header
  %h1 
    Tricklr
  %nav
    %ul
      -if current_user
        %li.avatar
          =image_tag(current_user.profile_image_url)
          =current_user.screen_name
        %li
          =link_to "Settings", "#", :class => "settings"
      %li
        =link_to "Help", help_path, :class => "help"
      %li
        -if current_user
          =link_to "Logout", destroy_user_session_path, :class => "logout"
        -else
          =link_to "Login", "/auth/twitter", :class => "logout"

