
%header
  %h1 
    =link_to "Tricklr", root_path
  %nav
    %ul
      -if current_user
        %li.avatar
          =link_to image_tag(current_user.profile_image_url), root_path
          =link_to current_user.screen_name, root_path
        %li
          =link_to "Settings", settings_path, :class => "settings"
      %li
        =link_to "Help", help_path, :class => "help"
      %li
        -if current_user
          =link_to "Logout", destroy_user_session_path, :class => "logout"
        -else
          =link_to "Login", "/users/auth/twitter", :class => "logout"

