%nav.clearfix
  - if user_signed_in?
    %ul
      -if current_user
        %li.nickname
          %h3#account-name
            %span
              = current_user.nickname
        %li.menu-items
          = link_to "Logout", destroy_user_session_path, :class => "button logout"
          = link_to "Help", help_path, :class => "button help"
          = link_to "Settings", settings_path, :class => "button settings"
  - else
    / not logged in
    %a{ :class => 'button sign-in', :href => "/users/auth/twitter"}
      %span{:class => 'symbol'}
        t
      Sign in with Twitter