=form_for @status do |f|
  =render :partial => '/partials/error_messages', :locals => { :object => @status }
  %div.text-input
    =f.text_area :status, :cols => 77
  %section.actions
    %button#status_submit{:type => "submit", :class => 'button' }
      Add to Queue
    

