=form_for @status do |f|
  =render :partial => '/partials/error_messages', :locals => { :object => @status }
  = field_set_tag "Hey! We're ready to queue your tweet", :class => 'status-form' do
    %p.type_tweets
      Type your tweets here
    %div.input
      =f.text_area :status
    %section.actions
      %button#status_submit{:type => "submit"}
        Trickle it!
    

