=render :partial => 'form'

%ul#view-links
  %li.queued-statuses.selected
    =link_to "Queue", root_path
  %li.published-statuses
    =link_to "Published", published_path
  
%section.status-lists
  -if @queued_statuses.present?
    %ul#queued_statuses.status-list
      =render @queued_statuses

  -if @published_statuses.present?
    %ul#published_statuses.status-list
      = render @published_statuses

