=render :partial => 'form'
-if @statuses
  %ul#view-links
    %li 
      =link_to "Queue", root_path
    %li
      =link_to "Published", published_path
  
  %ul#status-list
    -@statuses.each do |t|
      %li
        =#image_tag(current_user.profile_image_url)
        =#current_user.screen_name
        =t.status
        %br/
        %span{ :class => cycle("orange", "blue", "green") }
          -if t.published_at
            =link_to time_ago_in_words_with_word(t.published_at), "http://twitter.com/growingshed/status/" + t.twitter_id.to_s
          -else 
            will be published in
            =distance_of_time_in_words(Time.now, t.scheduled_at)
            = link_to 'Edit', edit_status_path(t)
            = link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete


