
=render :partial => 'form'
  
%ul#view-links
  %li.queued-statuses
    =link_to "Queue", root_path
  %li.published-statuses.selected
    =link_to "Published", published_path
  
%section.status-lists
  -if @statuses.present?
    %ul#published_statuses.status-list
      =render @statuses

