
=render :partial => 'form'
  
%section.row
  %section.span4.columns
    %div.well
      =link_to "Queue", root_path, :class => ["btn", "small"]
      =link_to "Published", published_path, :class => ["btn", "info", "small"]
  

%section.status-lists
%section.row
  %section.span2.columns
    &nbsp;
  %section.span8.columns
    -if @statuses.present?
      %ul
        =render @statuses
