#settings-form{
  .field{ margin: 10px 0;}
  label, legend{
    font: 700 21px kreon;
    color: $t_blue;
    @include text-shadow (#fff 1px 1px 0);
  }
  .actions{
    .button{
      margin: 0;
    }
  }
}


.publish-from, .publish-until{
  margin-top: 10px;
  height: 50px;
}