%ul.toolbar
  %li.add-link.add-device-link
    =link_to 'Add a Device', '#'
  %li.edit-link
    =link_to "Edit", edit_site_path(@site), :title => 'Edit site'

%h1.title
  =@site.name
  =link_to @site.company.name, company_path(@site.company)
  
%div.add-device-hidden
  %div.add-device
    =render :partial => 'devices/form', :locals => { :object => @company }
  

%section#column-wrapper
  %section#column-row
    %section#column-1
      -if @highrise_data.present?    
        %section.box
          =render :partial => 'partials/highrise_info', :locals => { :object => @highrise_data }
      %section.box.lan-info
        =render :partial => 'partials/lan_info', :locals => { :object => @site }
      %section.box.wan-info
        =render :partial => 'partials/wan_info', :locals => { :object => @site }

    %section#column-2
      -if @site.devices.present?      
        %section.box
          =render :partial => 'partials/show_devices', :locals => { :object => @site }


    %section#column-3
      -if @site.company.contacts.present?
        %section.box
          =render :partial => 'partials/show_employees', :locals => { :object => @company }

%ul.toolbar.secondary
  %li.add-link.add-device-link
    =link_to 'Add a Device', '#'
  %li.edit-link
    =link_to "Edit", edit_site_path(@site), :title => 'Edit site'