// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/css3";

/* 
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article, aside, dialog, figure, 
footer, header, hgroup, menu, 
nav, section { 
  display: block; 
}



// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");
#skip-links {
  display: none;
}

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  background : #272727;
  #container {
    //@include linear-gradient(color-stops(#ebebeb, #fafafa), bottom);
    background: #d2d2d2;
    @include box-shadow; 
    @include border-radius(10px);
    //background: url('/images/dev/960_grid_12_col.png'), url('/images/dev/vertical_rythmn_18px.png');
    padding-left: 10px;
    @include container; 
    margin-top: 18px;
    a { text-decoration: none; }
    header {
      width: 940px;
      /* Image replacement technique */
      h1
        {
        float: left;
        width: 200px;
        height: 56px;
        text-indent:-9999px;
        font-size: 1em;
        margin-bottom: 1.4em;
      }
      h1 a
        {
        width:200px; 
        height: 56px;
        background: url(/images/bg/logo.png) 0 0 no-repeat;
        float:left;
        text-decoration:none;
        border-bottom: none;
      }
      nav
      {
        float: right;
        text-align: right;
        margin-top: 1em;
        ul
        {
          list-style: none; 
          margin-right: 0;
          li{
            display: inline;
            text-align: center;
            float: left;
            @include border-radius(5px);
            margin-left: 20px;
            width: 60px;
            background: #666;
            &.avatar {
              width: 120px;
              img {
                width: 18px;
                padding-right: 5px;
                float: left;
          }
        }
        a.settings {
          color: #2daebf;
        }
        a.help {
          color: #91bd09;
        }
        a.logout {
          color: #ff5c00;
        }
      }
    }
  }
}
#new_status {
  margin-left: 160px;
  fieldset {
    border: 0;
    legend, label {
      display: none;
      }
      textarea {
        outline: none;
        @include box-shadow(#666, 0px, 1px, 3px, 1px, inset);
        width: 602px;
        height: 60px;
        color: #333;
        @include border-radius(10px);
        border: 0;
        padding: 18px;
        font-size: 2em;
        line-height: 1em;
        font-family: Helvetica, Arial;
      }
    }
    .count {
      float: right;
      margin: 4px 10px 0 0 ;
      padding: 2px 5px 2px 5px;
      background: #F6F6F6;
      color: #666;
      text-shadow: 0 1px 1px #FFFFFF;
      @include border-radius(10px);
      @include box-shadow(#7f7f7f);
      font-weight: bold;
    }
    .status-count-warning {
      color: red;
    }
    input[type=submit]{
      border: 0;
      float: right;
      margin: .5em 0;
    }
  }
}
header, footer {
  @include column($blueprint-grid-columns); 
}

#content {
  // Two thirds of the grid columns, rounding up.
  // With 24 cols, this is 16.
  $content-columns: ceil(2 * $blueprint-grid-columns / 3);
  // true means it's the last column in the row
  @include column($content-columns, true); } }
.awesome, .awesome:visited {
  background: #222 url(http://www.zurb.com/images/alert-overlay.png) repeat-x; 
  display: inline-block; 
  //padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

.awesome:hover              { background-color: #111; color: #fff; }
.awesome:active             { top: 1px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited    { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited      { font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited    { background-color: #91bd09; }
.green.awesome:hover            { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited    { background-color: #2daebf; }
.blue.awesome:hover             { background-color: #007d9a; }
.red.awesome, .red.awesome:visited      { background-color: #e33100; }
.red.awesome:hover              { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited    { background-color: #a9014b; }
.magenta.awesome:hover              { background-color: #630030; }
.orange.awesome, .orange.awesome:visited    { background-color: #ff5c00; }
.orange.awesome:hover             { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited    { background-color: #ffb515; }
.yellow.awesome:hover             { background-color: #fc9200; }

/* Flash Notices
-----------------------------------------------------------------------------*/
p.flash-notice {
  color: #b8f5cf;  
  font-weight: bold;
  width: 602px;
  padding: 9px;
  margin-left: 160px;
  background: #2db25f;
  @include border-radius(5px);
}

/* View links
-----------------------------------------------------------------------------*/
ul#view-links{
  width: 200px;
  margin-left: 360px;
  list-style: none;
  float: left;
  li {
    display: block;
    width: 100px;
    display: inline;
    float: left;
    a {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

/* List of statuses
-----------------------------------------------------------------------------*/
ul#status-list
{
  clear: both;
  padding-left: 0;
  color: #000;
  margin-left: 240px;
  width: 460px;
  list-style: none;
  li
  {
    @include linear-gradient(color-stops(#ebebeb, #fafafa), bottom);
    @include box-shadow(#7f7f7f);
    margin-bottom: 9px;
    padding: 18px;
    position: relative;
    @include border-radius(5px);
    p {
      width: 350px;
      margin-bottom: 0;
    }
    input.delete-status{
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      outline: 0;
      position: absolute;
      top: 40%;
      background: url('/images/icons/16x16/sprite.png') -16px 0 no-repeat;
      right: 10px;
      border: 0;
      outline: 0;
      &:hover{
        cursor: pointer;
        background-position: -16px -16px;
      }
      &:hover, &:active, &:focus{
        outline: 0;
      }
    }
    a.reorder-statuses{
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      outline: 0;
      position: absolute;
      top: 40%;
      right: 40px;
      background: url('/images/icons/16x16/sprite.png') 0 0 no-repeat;
      &:hover{
        cursor: move;
        background-position: 0 -16px;
      }
    }
    a:hover {
    }
    p.confirm-delete-status {
      display: none;
      background: url("/images/bg/delete_confirm_chevron.png") left center no-repeat;
      position: absolute;
      right:-65px;
      top:39%;
      width: 70px;
      padding-left: 4px;
      a {
        @include border-radius(10px);
        position: relative;
        color: #fff !important;
        font-weight: bold;
        width:60px;
        padding: 2px 25px 2px 10px;
        background: #232323 url("/images/icons/16x16/delete_confirm.png") 58px 1px no-repeat;
        @include box-shadow(#7f7f7f);
      }
    }
    span {
      color: #2daebf;
      text-shadow: none;
      text-decoration: none;
      font-style: italic;
      &.blue {
        color: #2daebf;
        a {
          color: #2daebf;
        }
      }
      &.green {
        color: #91bd09;
        a {
          color: #91bd09;
        } 
      }
      &.orange {
        color: #ff5c00;
        a {
          color: #ff5c00;
        }
      }
      a {
        color: #ff5c00;
        text-shadow: none;
        text-decoration: none;
        font-style: italic;
      }
    }
  }
}

