/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* 
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
/* line 10, sass/screen.scss */
article, aside, dialog, figure,
footer, header, hgroup, menu,
nav, section {
  display: block;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 44px;
  margin-right: 45px;
  border-right: 1px solid #eeeeee;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 33, sass/screen.scss */
#skip-links {
  display: none;
}

/* line 37, sass/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 83, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 84, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 94, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 95, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 97, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 100, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 104, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 105, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 106, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1288877022');
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 49, sass/screen.scss */
body #container {
  background: #f4eded;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 18px;
}
/* line 57, sass/screen.scss */
body #container a {
  text-decoration: none;
}
/* line 58, sass/screen.scss */
body #container header {
  width: 940px;
}
/* line 60, sass/screen.scss */
body #container header h1 {
  float: left;
}
/* line 64, sass/screen.scss */
body #container header nav {
  float: right;
  text-align: right;
  margin-top: 1em;
}
/* line 69, sass/screen.scss */
body #container header nav ul {
  list-style: none;
  margin-right: 0;
}
/* line 72, sass/screen.scss */
body #container header nav ul li {
  display: inline;
  text-align: center;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  width: 60px;
  background: #666;
}
/* line 80, sass/screen.scss */
body #container header nav ul li.avatar {
  width: 120px;
}
/* line 82, sass/screen.scss */
body #container header nav ul li.avatar img {
  width: 18px;
  padding-right: 5px;
  float: left;
}
/* line 88, sass/screen.scss */
body #container header nav ul li a.settings {
  color: #2daebf;
}
/* line 91, sass/screen.scss */
body #container header nav ul li a.help {
  color: #91bd09;
}
/* line 94, sass/screen.scss */
body #container header nav ul li a.logout {
  color: #ff5c00;
}
/* line 101, sass/screen.scss */
body #container #new_status {
  margin-left: 160px;
}
/* line 103, sass/screen.scss */
body #container #new_status fieldset {
  border: 0;
}
/* line 105, sass/screen.scss */
body #container #new_status fieldset legend, body #container #new_status fieldset label {
  display: none;
}
/* line 108, sass/screen.scss */
body #container #new_status fieldset textarea {
  width: 620px;
  height: 108px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 0;
  padding: 0;
}
/* line 116, sass/screen.scss */
body #container #new_status input[type=submit] {
  border: 0;
  float: right;
  margin: .5em 0;
}
/* line 123, sass/screen.scss */
body header, body footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body header, * html body footer {
  overflow-x: hidden;
}
/* line 127, sass/screen.scss */
body #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0@tweethopper/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}

/* line 133, sass/screen.scss */
.awesome, .awesome:visited {
  background: #222222 url(http://www.zurb.com/images/alert-overlay.png) repeat-x;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}

/* line 149, sass/screen.scss */
.awesome:hover {
  background-color: #111;
  color: #fff;
}

/* line 150, sass/screen.scss */
.awesome:active {
  top: 1px;
}

/* line 152, sass/screen.scss */
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

/* line 153, sass/screen.scss */
.large.awesome, .large.awesome:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}

/* line 155, sass/screen.scss */
.green.awesome, .green.awesome:visited {
  background-color: #91bd09;
}

/* line 156, sass/screen.scss */
.green.awesome:hover {
  background-color: #749a02;
}

/* line 157, sass/screen.scss */
.blue.awesome, .blue.awesome:visited {
  background-color: #2daebf;
}

/* line 158, sass/screen.scss */
.blue.awesome:hover {
  background-color: #007d9a;
}

/* line 159, sass/screen.scss */
.red.awesome, .red.awesome:visited {
  background-color: #e33100;
}

/* line 160, sass/screen.scss */
.red.awesome:hover {
  background-color: #872300;
}

/* line 161, sass/screen.scss */
.magenta.awesome, .magenta.awesome:visited {
  background-color: #a9014b;
}

/* line 162, sass/screen.scss */
.magenta.awesome:hover {
  background-color: #630030;
}

/* line 163, sass/screen.scss */
.orange.awesome, .orange.awesome:visited {
  background-color: #ff5c00;
}

/* line 164, sass/screen.scss */
.orange.awesome:hover {
  background-color: #d45500;
}

/* line 165, sass/screen.scss */
.yellow.awesome, .yellow.awesome:visited {
  background-color: #ffb515;
}

/* line 166, sass/screen.scss */
.yellow.awesome:hover {
  background-color: #fc9200;
}

/* Flash Notices
-----------------------------------------------------------------------------*/
/* line 170, sass/screen.scss */
p.flash-notice {
  color: #b8f5cf;
  font-weight: bold;
  width: 602px;
  padding: 9px;
  margin-left: 160px;
  background: #2db25f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* View links
-----------------------------------------------------------------------------*/
/* line 182, sass/screen.scss */
ul#view-links {
  background: #ccc;
  width: 200px;
  margin-left: 360px;
  padding: 9px;
  list-style: none;
  float: left;
}
/* line 189, sass/screen.scss */
ul#view-links li {
  display: block;
  width: 100px;
  display: inline;
  float: left;
}
/* line 194, sass/screen.scss */
ul#view-links li a {
  display: block;
}

/* List of statuses
-----------------------------------------------------------------------------*/
/* line 203, sass/screen.scss */
ul#status-list {
  clear: both;
  padding-left: 0;
  background: #fff;
  color: #000;
  margin-left: 240px;
  width: 460px;
  list-style: none;
}
/* line 212, sass/screen.scss */
ul#status-list li {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #bdb3b9), color-stop(100%, #e0d9dd));
  background-image: -moz-linear-gradient(bottom, #bdb3b9 0%, #e0d9dd 100%);
  background-image: linear-gradient(bottom, #bdb3b9 0%, #e0d9dd 100%);
  text-shadow: 0 1px 1px #FFFFFF;
  padding: 18px;
  border-bottom: 1px solid #ccc;
}
/* line 217, sass/screen.scss */
ul#status-list li span {
  color: #2daebf;
  text-shadow: none;
  font-size: .8em;
  text-decoration: none;
  font-style: italic;
}
/* line 223, sass/screen.scss */
ul#status-list li span.blue {
  color: #2daebf;
}
/* line 225, sass/screen.scss */
ul#status-list li span.blue a {
  color: #2daebf;
}
/* line 229, sass/screen.scss */
ul#status-list li span.green {
  color: #91bd09;
}
/* line 231, sass/screen.scss */
ul#status-list li span.green a {
  color: #91bd09;
}
/* line 235, sass/screen.scss */
ul#status-list li span.orange {
  color: #ff5c00;
}
/* line 237, sass/screen.scss */
ul#status-list li span.orange a {
  color: #ff5c00;
}
/* line 241, sass/screen.scss */
ul#status-list li span a {
  color: #ff5c00;
  text-shadow: none;
  text-decoration: none;
  font-style: italic;
}
