=form_for @setting, :html => { :id => 'settings-form' } do |f|
  =render :partial => '/partials/error_messages', :locals => { :object => @setting }
  = field_set_tag 'Settings' do
  
    -#%p
      =f.label :automatic
      =f.radio_button :automatic, true
      =f.radio_button :automatic, false
    %p
      =f.label :time_digit, 'Trickle every..'
      =f.text_field :time_digit, :value => number_to_human(@setting.time_digit)
      =f.select :time_unit, options_for_select([ "minutes", "hours", "days" ], @setting.time_unit)

    %p
      
      =f.label :publish_from
      =f.time_select :publish_from
    %p
      =f.label :publish_until
      =f.time_select :publish_until

    %p
      =f.label :time_zone, "Time Zone"
      =f.time_zone_select :time_zone

    -##slider-range
      %p
        =f.label :range
        =f.text_field :range, :id => "amount"

    =f.submit 'Save', :class => "awesome magenta"
    

  
