=form_for @setting, :html => { :id => 'settings-form' } do |f|
  =render :partial => '/partials/error_messages', :locals => { :object => @setting }
  = field_set_tag 'Settings' do
  
    %p
      =f.label :time_digit, 'Trickle every..'
      =f.text_field :time_digit, :value => number_to_human(@setting.time_digit)
      =f.select :time_unit, options_for_select([ "minutes", "hours", "days" ], @setting.time_unit)

    %p
      
      =f.label :publish_from
      =f.time_select :publish_from
    %p
      =f.label :publish_until
      =f.time_select :publish_until

    =f.submit 'Save', :class => "awesome magenta"
    

  
