=form_for @setting, :html => { :id => 'settings-form' } do |f|
  =render :partial => '/partials/error_messages', :locals => { :object => @setting }
  = field_set_tag 'Settings' do
  
    %div.clearfix
      =f.label :time_digit, 'Trickle my tweets every'
      %div.input
        =f.text_field :time_digit, :value => number_to_human(@setting.time_digit), :class => "small"
        =f.select :time_unit, options_for_select([ "minutes", "hours", "days" ], @setting.time_unit)

    = field_set_tag 'Trickle between the hours of', :class => "trickle-between" do
      =f.label :publish_from
      =f.time_select :publish_from, :minute_step => 60, :time_separator => ""

      =f.label :publish_until
      =f.time_select :publish_until, :minute_step => 60, :time_separator => ""
        
    -# %div.clearfix
      =f.label :time_zone
      %div.input
        =time_zone_select( "setting", "time_zone", nil, :default => "Pacific Time (US & Canada)" )
    %section.actions
      %button.save-button{:type => "submit"} Save
