=form_for @setting, :html => { :id => 'settings-form' } do |f|
  =render :partial => '/partials/error_messages', :locals => { :object => @setting }
  = field_set_tag 'Settings' do
  
    %div.trickle-every.clearfix
      = f.label :publish_frequency, 'Trickle my tweets every'
      %div.input
        %select{ :name => :setting_publish_frequency }
          = options_for_select(@publish_frequencies, @publish_frequencies_default)
        
    = field_set_tag 'Trickle between the hours of', :class => "trickle-between" do
      %div.publish-from
        =f.label :publish_from, "Each day, start Tricklin' at:"
        =f.time_select :publish_from, :minute_step => 60, :time_separator => ""

      %div.publish-until
        =f.label :publish_until, "And stop Tricklin' at:"
        =f.time_select :publish_until, :minute_step => 60, :time_separator => ""
        
    -# %div.clearfix
      =f.label :time_zone
      %div.input
        =time_zone_select( "setting", "time_zone", nil, :default => "Pacific Time (US & Canada)" )
    %section.actions
      %button.save-button{:type => "submit"} Save
