.content-box.secondary-container.bad-browser
  %h2 Sorry, we don't currently support the browser your using
  
  %p Tricklr needs a few bits of awesome that your current browser can't cope with. You can either upgrade your browser to the most recent version or use a different browser.
  %br
  %p Here at <a class="text-link" href="http://pebblecode.com">pebble {code}</a> we really like Google's Chrome browser. You can get it <a class="text-link" href="https://www.google.com/chrome">here.</a>
  %br
  %p If you are not able to upgrade your browser we recommend you contact your Systems Administrator and ask about upgrading your browser.
  
  %img{:src => image_path('bad-browser.png'), :alt => 'sad-face', :id => "sad-face"}/