%section.content-box.secondary-container
  %h2 What is Tricklr?
  %p Tricklr is a simple to use web app for high volume tweeters. Tricklr helps you manage your Twitter feed by trickling out tweets at regular intervals that you control..
  %br
  %p Spreading out lots of tweets over the course of a day is disruptive. Tricklr enables you to write many tweets in one sitting and seem active on twitter over days, even weeks!
  %br
  %p Tricklr solves our tweeting frustrations by stopping unnecessary context switching throughout the day.
  

  %h2 How do I use it?
  %p First set up how often and between what times you would like to post your tweets. Next compose your tweets and add them to the queue. That's it! Your tweets will now trickle out at the rate set.
  
  %h2 Who made Tricklr?
  %p We did! <a href="http://pebblecode.com">pebble {code}</a>  is a London-based software development company. We write software for us and for special clients with fun tricky problems.
  
  %h2 What if I have multiple twitter accounts?
  %p For now, Tricklr supports one Twitter account at a time. If you want to use another Twitter account, you must logout and sign in a with the relevant Twitter account. To use multiple Twitter accounts at the same time, you could using different browsers, ;-).
  
  %h2 What if I am in a different timezone?
  %p Tricklr takes the timezone that is set in your Twitter account. To update your timezone, go to your [Twitter settings account section]. If you do not have a timezone set in your Twitter account, Tricklr will use GMT.
  
  %h2 How do I get in touch for feature requests?
  %p If you want to get in touch for any reason, please email us at tricklr@pebblecode.com - we will try and get back to you asap. 

.ralign.navigation
  = link_to 'Go back', '/', :class => 'button'