.content-box.secondary-container
  %img{:src => image_path('help-t-logo.png'), :alt => 'Tricklr logo', :id => "help-logo"}/
  %h2 What is Tricklr?
  %p Tricklr is a simple to use web app for high volume tweeters. Tricklr helps you manage your Twitter feed by trickling out tweets at regular intervals that you control.
  %br
  %p Spreading out lots of tweets over the course of a day is disruptive. Tricklr enables you to write many tweets in one sitting and seem active on twitter over days, even weeks!
  
  
  %h2 How do I use it?
  %p First set up how often and between what times you would like to post your tweets. Next compose your tweets and add them to the queue. That's it! Your tweets will now trickle out at the rate set. 
       
  %h2 What if I have multiple Twitter accounts?
  %p For now, Tricklr supports one Twitter account at a time. If you want to use another Twitter account, you must logout and sign in a with the relevant Twitter account. To use multiple Twitter accounts at the same time, you could use different browsers, ;-).
  
  %h2 What if I am in a different timezone?
  .help-timezone
    %p Tricklr takes the timezone that is set in your Twitter account. To update your timezone, go to your <a href="https://twitter.com/settings/account">Twitter settings</a>. If you do not have a timezone set in your Twitter account, Tricklr will use GMT.
  
  %h2 Love it!
  .help-love
    %p Like Tricklr and want to show it some love? You can use the social media buttons we've provided for you at the bottom of the page. Or if you'd like to feature Tricklr on your blog you can download our press kit <a class="text-link" href="/downloads/tricklr-press-kit.zip">here.</a>

  %h2 How do I get in touch for feature requests?
  .help-mail
    <p> If you want to get in touch for any reason, please email us at <a href="tricklr@pebblecode.com?Subject=Tricklr">
    tricklr@pebblecode.com</a> - we will try and get back to you asap. </p>
  
  %h2 Who made Tricklr?
  %p We did! pebble {code} is a software company based in London, UK. <a class="text-link" href="http://pebblecode.com">Check us out!</a>

.ralign.navigation
  = link_to 'Go back', '/', :class => 'button'