.content-box.secondary-container

  %h2 How do I get started with Tricklr?
  .help-add
    %p To get started, enter a tweet and click ‘Add to Queue’. You can add as many tweets as you like.
    
  %hr{:class => "help-hr"}
    
  %p{:class => "help-p"} To make changes to a tweet in your queue, click the icons beside it:
  .help-edit
    %p Click and drag to change the order of tweets
    %p Edit this tweet
    %p Publish this tweet right now
    %p Delete this tweet (we'll ask if you're sure)
  
  %hr{:class => "help-hr"}
    
  .help-settings
    %p Click the cog icon to show your Tricklr settings.
    %p On the settings page, you can...
    
  %hr{:class => "help-hr"}
    
  .help-post
    %p Use the dropdown menu to select how often Tricklr should tweet for you
    
  %hr{:class => "help-hr"}
    
  .help-slider
    %p Drag the sliders to control the times of day Tricklr should tweet. For instance, you can stop tweets being sent overnight.
    
  %hr{:class => "help-hr"}
    
  .help-timezone
    %p Click ‘change’ to edit Tricklr’s timezone setting. We get this from your Twitter account, so Tricklr will take you to your Twitter settings.
  
  %hr{:class => "help-hr"}
  
  .help-save
    %p Save your settings once you're done. Hit ‘Go back’ to cancel your changes.
  
  %hr{:class => "help-hr"}
       
  %h2 So, who created Tricklr then?
  .help-code 
    %p That'd be us. We're a software company called <a class="text-link" href="http://pebblecode.com">pebble {code}</a>. We're based in London, UK. Come and <a class="text-link" href="http://pebblecode.com">visit our website</a> or <a class="text-link" href="http://twitter.com/pebblecode">follow us on Twitter.</a>
  
  %h2 How do I get in touch with the Tricklr team?
  .help-mail  
    %p Email <a class="text-link" href="mailto:tricklr@pebblecode.com">tricklr@pebblecode.com</a> to send us your feedback, say what features you'd like us to add or learn about our plans for Tricklr.
  
  %h2 I love Tricklr - can I help spread the word? 
  .help-love  
    %p Yes please! It'd be great if you could let other people know about Tricklr.
    %br
    %p You can use the social media buttons on this page to tell friends and followers about Tricklr. If you're a journalist or blogger (or just interested), you can grab the <a class="text-link" href="/press-kit/tricklr-press-kit.zip">press kit</a> (.zip file, 1MB). 

.ralign.navigation
  = link_to 'Go back', '/', :class => 'button'