%section.content-box
  %h2 What is Tricklr?
  %p Tricklr is a simple to use web app for marketing teams and high volume tweeters. Tricklr helps you effectively manage your Twitter feed by trickling out tweets at regular intervals.

  %h2 How do I use it?
  %p First set up how often and between what times you would like to post your tweets. Next compose your tweets and add them to the queue. That's it! Your tweets will now trickle out at the rate set.

  %h2 What if I have multiple twitter accounts?
  %p For now, Tricklr supports one Twitter account at a time so you will have to sign in and out with the relevant Twitter accounts. Another work around would be to use different browsers. 

  %h2 What is Twitter? 
  %p Wow! Find out at <a href="http://twitter.com">twitter.com</a>.
