.secondary-container
  %h2
    Welcome to Tricklr!
  
  %p.intro
    Tricklr is a simple to use web app for high volume tweeters. Tricklr helps you manage your Twitter feed by trickling out tweets at regular intervals that you control.
  %p.intro
    Spreading out lots of tweets over the course of a day is disruptive. Tricklr enables you to write many tweets in one sitting and seem active on twitter over days, even weeks!
  
  %p.intro
    Tricklr solves our tweeting woes for us here at @pebblecode. Try it out for yourself by signing in with your Twitter login details above. Oh yeah, it's free!

  %ul.step-by-step.clearfix
    %li
      %img{:src => image_path('start-icon-1.png'), :alt => ''}/
      %br/
      Compose your tweets and add them to the queue.
    %li
      %img{:src => image_path('start-icon-2.png'), :alt => ''}/
      %br/
      Choose how often and between which hours you want to post your tweets.
    %li.last
      %img{:src => image_path('start-icon-3.png'), :alt => ''}/
      %br/
      Done! Your tweets will now trickle out at the rate set.