.secondary-container.content-box.main-page
  .intro
    %h2
      Regular tweets, 
    %h2   
      fewer distractions
    %h3
      Tell Tricklr what to say and it'll tweet for you at regular intervals - giving you more time for other important tasks.
      
  %img{:src => image_path('intro-logo.png'), :alt =>'intro-logo', :class => 'intro-logo'}
  
  
  %ul#points
    %li
      Stay active on Twitter without watching it constantly
    %li
      Spread tweets out so you don't overwhelm your followers
    %li
      Plan hours, days, weeks or even months ahead
      
  %p.get-started
    Tricklr is free and really easy to use. 
    %a{:href => "/users/auth/twitter"}
      To get started, just sign in with your Twitter details.
  