.secondary-container.content-box.main-page
  .intro
    %h2
      Regular tweets, 
    %h2   
      fewer distractions
    %h3
      Tell Tricklr what to say and it'll tweet for you at regular intervals - giving you more time for other important tasks.
  
  #slides
    .slides_container
      %div.watch
        %h2
          Stay active on Twitter without watching it&nbsp;constantly
      %div.spread
        %h2
          Spread tweets out so you don't overwhelm your followers
      %div.plan
        %h2
          Plan hours, days, weeks or even months&nbsp;ahead
      
  %p.get-started
    Tricklr is free and really easy to use.
    <a class="text-link " href="/users/auth/twitter">To get started, just sign in with your Twitter details.</a> 
  