.secondary-container.content-box.main-page
  %img{:src => image_path('intro-logo.png'), :alt =>'intro-logo', :class => 'intro-logo'}
  .intro
    %h2
      Tweet regularly, without Twitter taking over your day
    %h3
      Tricklr is a super-simple tool that gives you more control over your tweets. Tell Tricklr what to say and it’ll send tweets at intervals you control.

  %ul.points
    %li
      Stay active on Twitter without staying constantly logged in
    %li
      Spread tweets out so you don't overwhelm your followers
    %li
      Plan hours, days, weeks or even months ahead
      
  %p
    Tricklr is free and easy to use. To get started, just sign in with your Twitter username and password.
  