.secondary-container.content-box.main-page
  %img{:src => image_path('intro-logo.png'), :alt =>'intro-logo', :class => 'intro-logo'}
  .intro
    %h2
      Welcome to Tricklr!
    %p Tricklr is a simple to use web app for high volume tweeters. Add tweets to your queue and Tricklr will post them to Twitter for you at regular intervals that you control. 
    %br
    %p Now you can prevent social media disruption while also seeming active over hours, days and even weeks. Tricklr is free and we here <a href="https://twitter.com/pebblecode" class="text-link">@pebblecode</a> hope you like it.
    
  %ul.step-by-step.clearfix
    %li
      %img{:src => image_path('start-icon-1.png'), :alt => ''}/
      %p Compose your tweets and add them to your queue.
    %li
      %img{:src => image_path('start-icon-2.png'), :alt => ''}/
      %br/
      Choose when you would like to post your tweets.
    %li.last
      %img{:src => image_path('start-icon-3.png'), :alt => ''}/
      %br/
      Done! Your tweets will now trickle out at the rate set.
