
%h2
  Tricklr is a web app that lets you trickle you tweets at regular intervals.
%h3
  Great for marketing teams and high volume tweeters.
%p
  =link_to image_tag('twitter/sign-in-with-twitter-d.png'),  '/users/auth/twitter'

