/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require html5_boilerplate
 *= require_self
 *= require_tree . 
 */

body {
  padding-top: 60px;
}
.container {
  width: 725px;
  margin: 0 auto;
  background: #d2d2d2;
  
  #logo a {
    display: block;
    background: transparent image_url('logo.png') no-repeat 0 -56px;
    width: 205px;
    height: 42px;
    text-indent: -9999px;
    outline: none;

    &:hover {
      background-position: 0 0;
    }
  }
}

