/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 */

/* Import files using sass instead of rails sprockets (easier to control order)*/
@import 'html5_boilerplate';
@import '_css3';
@import 'statuses';

/* Colours */
$light_blue: #92dfff;
$dark_blue: #52b8e3;
$border_gray: #5b5b5b;


@mixin button {
  border: 1px solid #aeaeae;
  @include border-radius(6px, 6px);
  @include linear-gradient(color-stops($light_blue, $dark_blue));
  @include single-box-shadow(#666666, 5px, 5px, 10px, -5px);  
}

@mixin button_hover {
  border: 1px solid #bababa;
  @include linear-gradient(color-stops(#fff, #f2f2f2));
}

body {
  padding-top: 60px;
}
.container {
  width: 725px;
  margin: 0 auto;
  background: #d2d2d2;
  
  .topbar {
    position: relative;
    
    #logo a {
      display: block;
      background: transparent image_url('logo.png') no-repeat 0 -56px;
      width: 205px;
      height: 42px;
      text-indent: -9999px;
      outline: none;

      &:hover {
        background-position: 0 0;
      }
    }
    
    .nav {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      list-style: none;
      
      li {
        float: right;
        margin-left: 10px;
        
        a {
          display: block;
        }
        
        &.account {
          width: 250px;
          text-align: center;
          a, span {
            display: inline;
          }
        }
        
        &.setting a,
        &.help a {
          @include button;
          width: 38px;
          height: 38px;
          
          &:hover {
            @include button_hover;
          }
          
        }
      }
    }
  
  }
}

