/*
 * IE7 stylesheet
 *
 */
 
#wrapper .topbar #logo {
  top: 10px;
}

.actions #char-count {
  top: 3px;
}

.tab-headings .last a {
  margin-top: -16px;
}

#wrapper #content .status-list > li .actions li.delete input {
  margin-top: -1px;
}

#footer .copyright {
  margin-left: -80px;
}