/*
 * IE7 stylesheet
 *
 */
@mixin debug{
  border: 1px solid pink;
} 
body{}
#logo{ float: left;}
#topmenu{
  float: right;
  .sign-in{
    padding-bottom: 10px;
  }
  ul{
    li{
      display: inline;
      &.nickname{
        padding: 10px 0;
        h3{ padding: 5px 5px 6px 13px;}
      }
    }
  } 
}

#account-name{
  display: block;
}