!!! Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Tricklr
    
    %link{:rel => "icon", :type => "image/x-icon", :href => "/favicon.ico"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}/
    = stylesheet_link_tag :application, asset_path('fonts.css'), 'http://fonts.googleapis.com/css?family=Kreon:300,400,700'
    = javascript_include_tag :application

  %body
    #wrap
      #main-container
        #logo
          %img{:src => image_path('logo_white.png'), :alt => 'Tricklr logo'}/
        = render :partial => 'layouts/shared/header'
        = yield
        / %hr{:class=>'slider-grove'}/
        / = render :partial => 'layouts/shared/footer'